backend/.env
/backend/venv
/backend/__pycache__
frontend/.env
node_modules/
dist/
__pycache__/
*.pyc

.vercel
frontend/ios
frontend/android
.DS_Store
/backend/tests
backend/tests/conftest.py
/backend/scratch
